--- cson
title: "Flags3"
thumb: "Argentina.png"
captions:
  "Argentina.png": "Argentina flag"
  "Australia.png": "Au flag..."
---

//- These two lines are optional... 
block caption
  p This is a caption about the whole album