//////////////////////////////////////////////////////////
// Global settings - adjust these to your heart's desire//
//////////////////////////////////////////////////////////

// font stack (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif
gill-sans = "Gill Sans MT", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
passion-sans = "PassionSansPDak-Bold"

// default font stack
font-stack = helvetica
font-size = 16
font-color = #ACB5AF

// ligatures
ligatures = false

// vertical rhythm
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
round-to-nearest-half-line = false
min-line-padding = 2px

// default color
default-color = #fff

// background-color
page-color = #FFF

// colors
blue = #a0e6ff
green = #CFC
darkgreen = darken(green, 30%)
darkgrey = #AAA

// Selected items (eg cover)
selection-color = darkgreen

// text highlight color
highlight-color = blue

// custom image base path for roots mixins
img-path = '/images'

// Support for Internet Explorer flag
support-for-ie = true

// progressive internet explorer (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'

// box-sizing for internet explorer (https://github.com/Schepp/box-sizing-polyfill)
box-sizing-enabled = false
box-sizing-path = '/boxsizing.htc'

// grid system settings (http://jeetframework.com)
gutter = 1.1
parent_first = false
layout_direction = LTR

page_width = 960px

// Responsive
mobile_first = false
breakpoint = 705px