---
referecesOthers: true
---
/**
 * Main stylesheet.
 * Uses Axis extensions (http://roots.cx/axis/)
 * And the Jeet grid (http://jeetframework.com/)
 */
/**
 * Note:
 *   gradients > nib
 *   positions > nib
 *   flexbox > nib
 *   vendor > autoprefixer
 *   grid > jeet
 *   breakpoint > stylus
 */
/** Syntax Quick Reference
 *  ----------------------
 *   edit()
 *   center(max_width = 1410px, pad = 0)
 *   bp(w = breakpoint, mf = mobile_first)
 *   endbp()
 *   stack(pad = 0, align = center)
 *   unstack()
 *   align(direction = both)
 *   cf()
 *   column(ratios = 1, offset = 0, cycle = 0, uncycle = 0)
 *   span(ratio = 1, offset = 0)
 *   shift(ratios = 0, col_or_span = column)
 *   unshift()
 */

// Pull in custom stuff
@import '_settings'
@import '_mixins'
@import '_ionicons'


/*** CSS Normalize ***/
normalize-css()

// Set box sizing right
*, *:before, *:after, *::before, *::after
  *behavior: url(js/vendor/boxsizing.htc)
  box-sizing: border-box
  margin: 0
  padding: 0

/*** Done normalising ***/

// Load basic styles
base()
typography()
tables()

// And custom forms
@import '_forms'

// Uncomment to show divs:
// edit()

dbg()
  border 1px black solid

// Hide angular things while loading:
[ng\:cloak], [ng-cloak], [data-ng-cloak],
[x-ng-cloak], .ng-cloak, .x-ng-cloak 
  display: none !important

/////////////////////////////////////////////////////////
// Layout mixins

$default_cols = -get_column(1/4)
$default_height = page_width * ($default_cols[0] / 100)
$default_margin = page_width * ($default_cols[1] / 100)

//- Adds height and margin for a box
box($num = 1, $green = true, $max_width = page_width)
  $vals = -get_column(1/4)
  box_height = $max_width * ($vals[0] / 100)
  box_margin = $max_width * ($vals[1] /100)
  margin-bottom: box_margin
  height: ($num * box_height) + (($num - 1) * box_margin)
  max-height: ($num * box_height) + (($num - 1) * box_margin)
  if $green
    background-color: green


/////////////////////////////////////////////////////////
// MAIN STYLING

body
  background: page-color
  background-size auto
  #content
    margin-top $default_margin

.container
  center(page_width, 0px)

img
  display block

a
  border none !important

nav ul
  padding 0
  margin 0
  li
    display block

.std-container
  // column(3/4)
  center(page_width, 0px)

.std-nav
  // column(1/4)
  group()
  & > div
    // box(2)
    column(3/4)
    box(0.25)
  & > nav
    column(1/4)
  a.home
    display inline-block
    margin-right 10px
    padding 16px 16px 0px 16px
  .page
    display inline-block
    margin 0
  li
    column(1/4 1/2)
    // box(0.5)
    box(0.25)
  img
    margin 0 auto
    max-width 100%
    max-height 100%

.thumbs
  .thumb
    box(1, false)
    // column(1/3 3/4, cycle: 3)
    column(1/4, cycle: 4)
    overflow-y hidden
    a
      display block
      position relative
      img
        size 100%
      span
        position absolute
        width 100%
        color font-color
        text-align center
        background-color grey
        background-color rgba(255,255,255,0.8)
        padding 1.2em 0
        left 0
        top -3.6em
        transition all 0.2s linear
      &:hover span
        top 0

.modal
  .overlay
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    z-index 9998
    opacity 0.8
    background-color #000
    cursor pointer
  .dialog
    left 10%
    right 10%
    max-height 100%
    z-index 9999
    position absolute
    // background-color #fff
    // box-shadow 4px 4px 80px #000
    button.close
      position absolute


/////////////////////////////////////////////////////////
// Homepage

.homepage
  #picture, #nav
    column(1/2)

  #picture
    box(2)
    a.about
      display block
      margin 1em auto
      text-align center
      color font-color
      font-weight bold
      p
        transition opacity 0.2s linear
        opacity 0
      &:hover p
        opacity 1
      img
        margin 0 auto

    .description
      padding 2.2em 4.8em 0em 4.8em

  #nav
    .description
      box(1, false)
      padding-left 0.5em
      h2,h4
        line-height 1em
        font-weight normal
      h2
        margin 0 0 1.5em 0
        padding-top 1em

  nav
    li
      column(1/2 1/2, cycle: 2)
      box()
      padding 3.5%
    img
      margin 0 auto
      max-width 103.5%
      max-height 103.5%


/////////////////////////////////////////////////////////
// Albums

.dialog.albumModal
  max-height 80%
  top 50px
  .content
    img.current
      max-height 100%
      margin 0 auto
    .next,.prev
      position absolute
      top 50%
      cursor pointer
      padding 20px 30px
      background-color #fff
      opacity 0.8
    .next
      right 0
    .prev
      left 0
    footer, header
      position absolute
      width 100%
      background-color #fff
      opacity 0.8
    header
      top 0
      padding 10px 10px 0 10px
      h2
        display inline-block
        margin 0.2em 0.4em
        max-width 30%
      .photos
        float right
        height 80px
        max-width 60%
        overflow-x scroll
        overflow-y hidden
        white-space nowrap
        ul
          padding 0
          margin 0
          size 100%
        li
          display inline-block
          cursor pointer
        img
          max-height 100%
    footer
      bottom 0
      padding 30px 20px
      color darken(font-color, 20%)
