---
referecesOthers: true
---
/**
 * Main stylesheet.
 * Uses Axis extensions (http://roots.cx/axis/)
 * And the Jeet grid (http://jeetframework.com/)
 */
/**
 * Note:
 *   gradients > nib
 *   positions > nib
 *   flexbox > nib
 *   vendor > autoprefixer
 *   grid > jeet
 *   breakpoint > stylus
 */
/** Syntax Quick Reference
 *  ----------------------
 *   edit()
 *   center(max_width = 1410px, pad = 0)
 *   bp(w = breakpoint, mf = mobile_first)
 *   endbp()
 *   stack(pad = 0, align = center)
 *   unstack()
 *   align(direction = both)
 *   cf()
 *   column(ratios = 1, offset = 0, cycle = 0, uncycle = 0)
 *   span(ratio = 1, offset = 0)
 *   shift(ratios = 0, col_or_span = column)
 *   unshift()
 */

// Pull in custom stuff
@import '_settings'
@import '_mixins'
@import '_ionicons'


/*** CSS Normalize ***/
normalize-css()

// Set box sizing right
*, *:before, *:after, *::before, *::after
  *behavior: url(js/vendor/boxsizing.htc)
  box-sizing: border-box
  margin: 0
  padding: 0

/*** Done normalising ***/

// Load basic styles
base()
typography()
tables()

// And custom forms
@import '_forms'

// Uncomment to show divs:
// edit()

dbg()
  border 1px black solid


/////////////////////////////////////////////////////////
// Layout mixins

box(num = 1, max_width = page_width)
  vals = -get_column(1/4)
  box_height = max_width * (vals[0] / 100)
  box_margin = max_width * (vals[1] /100)
  margin-bottom: box_margin
  height: (num * box_height) + ((num - 1) * box_margin)
  // height: page_width * (((num * box_height) + ((num - 1) * box_margin)) / 100)

/////////////////////////////////////////////////////////
// MAIN STYLING

body
  background: page-color
  background-size auto
  #content
    margin-top 15px

.container
  center(page_width, 0px)


/////////////////////////////////////////////////////////
// Homepage

.homepage
  #picture, #nav
    column(1/2)

  #picture
    box(2)


  #nav
    .description
      box()

  nav
    ul
      padding 0
      margin 0
    ul a
      display block
      column(1/2 1/2, cycle: 2)
      box()
      &:hover
        border none