
//- General modal
mixin modal()
  div.modal
    button.close
    .content
      block

mixin angular_modal(c, showVar, callback)
  - callback = callback+'()' || showVar+"=false";
  div.modal(ng-show=showVar, ng-cloak)
    .overlay(ng-click=callback)
    .close.ion-close-circled(ng-click=callback)
    .modal-inner(class=c)
      block
      