---
layout: default
cleanurl: true
title: "About me"
type: "main"
---
include ../layouts/mixins/nav.jade

include ../layouts/partials/highlights.jade

mixin icon(imgsrc, caption)
  .icon
    span!= caption
    img(src="/images/about/hobskills/"+imgsrc)

+page('aboutme', 'about me')
  
  .row
    div.img.white
      img(src="/images/about/me.png")
    div.width3.pad
      p growing up in a few countries has given me many opportunities to travel, learn about different cultures and learn from different people.
      p because of this my photography revolves around the places i have been and the people i meet.
      p my perspective on design has also grown. i have a passion for both print and web design and now strive to learn more about the two through research, experimentation and whoever is willing to teach me!

  .row
    div.img.white
      img(src="/images/about/skills.png", alt="Skills:")
    div.width2.white
      img(src="/images/about/skillbars.png", alt="Id, Ai, Ps, Ae, Fcp, HTML+CSS")

  .row.white
    div
      +icon("bookd.png", "print design")
      +icon("grid.png", "grid layouts <br /> composition")
    div
      +icon("webd.png", "web design")
      +icon("team.png", "team work")
    div
      +icon("brlogo.png", "brand identities <br /> logo design")
      +icon("lightbulb.png", "quick thinker <br /> idea generator")

  .row
    div.img.white.offset1
      img(src="/images/about/school.png")
    div.pad
      :markdown
        high school 2007-2012

        **st. john's international school:** international bacalaureate

        **higher levels:** art, english, french, philosophy  
        standard levels: design technology, maths

    div.pad
      :markdown
        university 2010-present

        **university of the arts london: london college of communication**

        ba(hons) graphic and media design

  .row
    div.width4.img.white
      img.map(src="/images/about/map.png")

  .row
    div.width2.pad
      :markdown
        **studio 24:** print design, vector illustrations, web design

        **boys by girls magazine:** creating banners, writing features, social media, metrics analysis, photoshoots assistant

        **antwerpen autovrij:** photography

        **megaluna:** brand identities

        **dasmuse:** print design, brand identities, vector pictograms

    div.img.white
      img(src="/images/about/workex.png")

  .row.white
    div.img
      img(src="/images/about/hobbies.png")
    div
      +icon("music.png", "music")
      +icon("ski.png", "sport")
    div
      +icon("bookd.png", "reading")
      +icon("travel.png", "travel")
    div
      +icon("learn.png", "learning")
      +icon("langu.png", "languages")