---
layout: default
cleanurl: true
title: "About me"
type: "main"
---
include ../layouts/mixins/nav.jade

+page('aboutme', 'about me')
  
  .row
    div
      p Picture
    div.width3
      p growing up in a few countries has given me many opportunities to travel, learn about different cultures and learn from different people.
      p because of this my photography revolves around the places i have been and the people i meet.
      p my perspective on design has also grown. i have a passion for both print and web design and now strive to learn more about the two through research, experimentation and whoever is willing to teach me!

  .row
    div.offset1
      p Arrows
    div.width2
      p Skills columns

  .row
    div.width4
      p icons

  .row
    div 1
    div 2
    div 3

  .row
    div.width4
      p map thingy

  .row
    div.width4
      p stuff under maps

  .row
    div.width4
      p more stuff...