---
layout: default
cleanurl: true
title: "Contact"
type: "main"
---
include ../layouts/mixins/nav.jade

include ../layouts/partials/highlights.jade

+page('contact', 'contact me')

  .plane
    
    div
      .invite
        p feel free to contact me if you have any questions or just want to say hello!
  
      .email
        a(href="mailto:hello@maxinevsg.com")
          img(src="/images/contact/email.png")
          div hello@maxinevsg.com
  
    div
      .linked-in
        a(href="#")
          img(src="/images/contact/linkedin.png")
  
      .twitter
        a(href="#")
          img(src="/images/contact/twitter.png")