--- cson
layout: "default"
url: "/highlights/index.html"
title: "Highlights"
type: "main"
picks:
  "photography/album1"
  "graphic-design/projectX"
---

//- include ../
//- The lines under `picks' control which things are shown on this page