--- cson
layout: "highlights-layout"
cleanurl: true
title: "Highlights"
type: "main"
picks: [
  "photography/album1"
  "graphicdesign/projectX"
]
---

//- The lines under `picks' control which things are shown on this page
