---
layout: default
---

mixin lia(link, content, to)
  - to = to || "_self"
  a(href=link, target=to)
    li= content

.homepage.container.boxes
  #picture
    a.about(class="hpbutton", href="/aboutme/")
      img(src="/images/aboutmebig.png")
      p about me

    .description
      p.
        i am a belgian-american graphic and media design student currently based in london.
      p i like meaningful design.

  #nav
    .description bla

    nav
      ul
        +lia("/", "gd")
        +lia("/", "photo")
        +lia("/", "high")
        +lia("/", "contact")