---
layout: default
---

.homepage.container
  .half
    a(class="hpbutton", href="/aboutme/")
      img(src="/images/aboutmebig.png")
      p about me

    .description
      p.
        i am a belgian-american graphic and media design student currently based in london.
      p i like meaningful design.

  .half
    nav.hp
      