---
layout: default
---
include ../layouts/mixins/nav.jade
include ../layouts/mixins/modals.jade

include ../layouts/partials/highlights.jade

.homepage.container
  // Main page below
  
  #picture
    a.about(class="hpbutton", href="/aboutme")
      img(src="/images/nav/aboutmebig.png")
      p about me

    .description
      p.
        i am a belgian-american graphic and media design student currently based in london
      p i like meaningful design

  #nav
    .description
      h2 maxine <br /> van stratum <br /> grohol

      h4 photographer <br /> graphic designer

    nav
      ul
        +lia("/graphicdesign/", "gd")
        +lia("/photography/", "picg")
        
        li
          a(href="#highlights")
            img(src="/images/nav/hh.png", alt="highlights")

        +lia("/contact", "contactme")