---
layout: default
---
include ../layouts/mixins/nav.jade

.homepage.container
  #picture
    a.about(class="hpbutton", href="/aboutme")
      img(src="/images/nav/aboutmebig.png")
      p about me

    .description
      p.
        i am a belgian-american graphic and media design student currently based in london
      p i like meaningful design

  #nav
    .description
      h2 maxine <br /> van stratum <br /> grohol

      h4 photographer <br /> graphic designer

    nav
      ul
        +lia("/graphic-design/", "gd")
        +lia("/photography/", "picg")
        +lia("/highlights", "hh")
        +lia("/contact", "contactme")